body{font-family: arial,sans-serif; margin: 0;padding: 0;background: white;}
header{background: lightblue;color: red;text-align: center;margin: 10px;padding: 20px;border-bottom: 2px solid red;}
header h1{font-size: 3rem;margin-bottom: 4px}
header p{font-style: italic; font-size: 3rem ;color:darkblue; text-align: center;}

nav{text-align: right;font-size: 20px}
nav a{ text-decoration: none;color: blue; margin: 10px;padding: 10px}
nav a:hover{color: red}
nav p{text-align: center;font-size: 50px;border-radius: 100px;background: darkgoldenrod; color: ghostwhite;}

 img {width: 600px;height: 300px; font-size: 30px;border-radius:50%; padding: 70px;margin: 50px}

nav img{width: 600px;height: 300px; font-size: 30px;text-align: center; border-radius:100px; padding: 70px;margin: 50px}

 footer{background:lightblue;color: red;text-align: center;font-size: 30px ;padding: 10px;margin: 30px}

.card{background:lightblue;color: darkred; padding: 16px;border-radius:100px; width: 700px;height: 200px;text-align: center;font-size: 30px}
.btn{display:inline-block;padding: 8px 12px; background:#0b63c6;color:white;border-radius: 300px;  border:none;cursor:pointer;text-decoration:none}
.grid{display: grid; grid-template-columns:repeat(auto-fit,minmax(240px,1fr));gap:16px}
div p{background: lightblue;color: darkred; font-size: 40px; padding: 40px 20px;margin: 40px ;border-radius: 300px; 
text-align: center;}
 
 
 section a:hover{color: red}



