 body {  font-family: Arial, sans-serif;margin: 0; padding: 0; background: lightblue;}
 header {background: white; color: white;padding: 40px  5px;text-align: center; }
nav { background:blue;color: red;}
nav ul { list-style: none;  margin: 20px; padding: 10px;overflow: hidden;}
nav li {  float: left; text-align:center; }
nav li  a{  color: white;  padding: 20px;margin: 10px;font-size: 20px}
nav li :hover{color: red;}
main { padding: 20px;  text-align: center;}
 section { margin-bottom: 40px;}
 footer { background-color: goldenrod; color: white;text-align: center;padding: 10px 0;position: relative;bottom: 0;width: 100%;}
 h1, h2 {color: darkblue;}
 .container { width: 80%;margin: auto; }
.events, .news { display: flex;gap: 20px;}
  .card {background: darkgoldenrod; color: white; padding: 15px; border-radius: 300px; box-shadow: 0 0 10px rgba(0,0,0,0.1);flex: 1;}
  div{background: darkblue; color: white; border-radius: 200px}
  